body {
  margin: 0;
  font-family: W95FA;
  src: url("http://127.0.0.1:8000/static//SSTPro-Light.ttf") format("opentype"),
    url("http://127.0.0.1:8000/static//SSTPro-Light.ttf") format("truetype");
  font-size: calc(2 / 3 * 100%);
}

@font-face {
  font-family: W95FA;
  src: url("http://127.0.0.1:8000/static//SSTPro-Light.ttf") format("opentype");
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(50px);
  height: calc(100vh);
  width: calc(100vw);
}

.psNotification {
  display: flex;
  align-items: center;
  height: calc(2 / 3 * 163px);
  width: calc(2 / 3 * 713px);
  background-color: #18282d;
  border-radius: calc(33px);
  color: #ffffff;
  font-family: "SST Pro";
  font-style: normal;
  font-weight: 300;
  font-size: calc(2 / 3 * 24px);
  line-height: calc(2 / 3 * 31px);
}

.textBlock {
  padding-right: calc(2 / 3 * 33px);
}

.textBlock p {
  display: inline;
  margin: 0;
}

.userName {
  color: #8b9396;
  display: inline;
  font-size: calc(2 / 3 * 20px);
}

.profileIcon {
  height: calc(2 / 3 * 95px);
  width: calc(2 / 3 * 95px);
  padding-left: calc(2 / 3 * 33px);
  padding-right: calc(2 / 3 * 22px);
}
